<main class="container">
  <p role="alert" class="text-sky-500"><%= Phoenix.Flash.get(@conn, :info) %></p>
  <p role="alert" class="text-red-500"><%= Phoenix.Flash.get(@conn, :error) %></p>
  <%= @inner_content %>
</main>
