<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <.live_title>
      <%= assigns[:page_title] || "Game Box" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"}/>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}></script>
  </head>
  <body>
  <nav>
    <div>
      <a href="/">GameBox</a>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/upload">Upload Game</a>
          </li>
          <li>
          <.link href={~p"/dashboard/home"}>Live Dashboard</.link>
          </li>
        </ul>
    </div>
  </nav>
    <%= @inner_content %>
  </body>
</html>
