<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />
    <.live_title>
      <%= assigns[:page_title] || "Game Box" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script type="text/javascript">
      function toggleMobileMenu() {
        var element = document.getElementById("mobile-menu");
        if(element.classList.contains("hidden")) { 
          element.classList.remove("hidden");
        } else { 
          element.classList.add("hidden");
        }  
      }
    </script>
  </head>
  <body class="bg-dark bg-honeycomb-pattern bg-repeat-x bg-[length:100rem] text-white">
  
    <div class="min-h-screen max-w-full bg-fixed bg-50% bg-gradient-to-t from-dark">
      
      <div class="w-full max-w-6xl mx-auto text-white p-10 lg:p-6">
        
        <%= @inner_content %>
      </div>
      <div class="mt-24 justify-end flex w-full bg-[url('/images/play_create_repeat.png')] min-h-[6rem] bg-repeat-x bg-center">
        <img src="images/diamond.png" class="w-32 h-32 mr-24 mt-32" />
      </div>
      <div class="w-full flex justify-center my-24">
        <img src="images/Gamebox-White.png" class="w-60"/>
      </div>
    </div>
 
  </body>
</html>
