<style>{{ css }}</style>
{% if current_player == player_id -%}
<h3>It is your turn</h3>
{% else -%}
<h3>Waiting on {{ current_player }} to move<h3>
{% endif -%}
<div class="board">
   {% for row in range(end=3) -%}
      <div class="row">
      {% for col in range(end=3) -%}
         {% set idx = col + row * 3 -%}
         {% set value = board[idx] -%}
         <button phx-click="cell-clicked" phx-value-cell="{{ idx }}" class="cell">{{ value }}</button>
      {% endfor -%}
      </div>
   {% endfor -%}
</div>
