@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font imports */ 
@font-face {
  font-family: 'dm_monoitalic';
  src: url('/fonts/dmmono-italic-webfont.woff2') format('woff2'),
       url('/fonts/dmmono-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dm_monolight_italic';
  src: url('/fonts/dmmono-lightitalic-webfont.woff2') format('woff2'),
       url('/fonts/dmmono-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dm_monoregular';
  src: url('/fonts/dmmono-regular-webfont.woff2') format('woff2'),
       url('/fonts/dmmono-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dm_monomedium';
  src: url('/fonts/dmmono-medium-webfont.woff2') format('woff2'),
       url('/fonts/dmmono-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dm_monomedium_italic';
  src: url('/fonts/dmmono-mediumitalic-webfont.woff2') format('woff2'),
       url('/fonts/dmmono-mediumitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dm_monolight';
  src: url('/fonts/dmmono-light-webfont.woff2') format('woff2'),
       url('/fonts/dmmono-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'originalsregular';
  src: url('/fonts/originals-webfont.woff2') format('woff2'),
       url('/fonts/originals-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


[type='text'] { 
  color: #170124;
}

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}

.phx-disconnected * {
  pointer-events: none;
}

.alert:empty {
  display: none;
}

.join-arena-form {
  padding-top: 1em;
  max-width: 400px;
}